<%= link_to 'All Posts ', posts_path%>

<h2>Gif Generator</h2>

  <form id="query-form">
    <input id="query" type="text"/>
    <input type="submit" value="Generator"/>
  </form>

<br>

  <ul id="list-data" ></ul>
